
include "./myConf/animations.kdl"

include "./myConf/binds.kdl"

include "./myConf/input.kdl"

include "./myConf/outputs.kdl"

include "./myConf/layout.kdl"

include "./myConf/misc.kdl"

include "./myConf/gestures.kdl"

include "./myConf/rules.kdl"

include "./myConf/env.kdl"

// noctalia conf
include "./noctalia.kdl"

