layout {

    focus-ring {
        active-color   "#ddb8ff"
        inactive-color "#151316"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ddb8ff"
        inactive-color "#151316"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ddb8ff"
        inactive-color "#5b3383"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ddb8ff80"
    }
}

recent-windows {
    highlight {
        active-color "#ddb8ff"
        urgent-color "#ffb4ab"
    }
}
