// -------------------- Input --------------------
// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration:-Input
input {
    keyboard {
        repeat-rate 35
        repeat-delay 200
        xkb { 
            layout "us,kh"
            options "grp:alt_space_toggle,compose:ralt,ctrl:nocaps"           
        }
    }
    touchpad {
        tap
        // dwt
        // dwtp
        natural-scroll
        drag true
        // drag-lock
        // disabled-on-external-mouse
        // left-handed
        click-method "clickfinger"
        scroll-method "two-finger"
        accel-speed 0.20
        accel-profile "adaptive"
        tap-button-map "left-right-middle"
        scroll-factor 1.0
    }
    mouse {  
    }
    trackpoint {
    }
    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"

}