// -------------------- Misc --------------------


spawn-at-startup "/usr/lib/mate-polkit/polkit-mate-authentication-agent-1"

spawn-at-startup "qs" "-c" "noctalia-shell"

// spawn-at-startup "swww-daemon"      // fun fact, swww REMEMBERS the wallpaper you ran!

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 22
    hide-when-typing
}

overview {
    backdrop-color "#1E1E2E"
    workspace-shadow {
        off
    }
}

hotkey-overlay {
    skip-at-startup
}

